{% extends "layout.html" %}

{% block title %}
성적 입력하기
{% endblock %}

{% block content %}

{% if snos %}
<h2>성적 입력하기</h2>
<form method="post" action="{{url_for('insert_score')}}" onsubmit="return checkScore(this)">
    학번: 
    <select name="sno">
        {% for sno in snos %}
        <option value="{{sno[0]}}">{{sno[0]}}</option>
        {% endfor %}
    </select><br>
    국어: <input type="text" name="kor" required><br>
    영어: <input type="text" name="eng" required><br>
    수학: <input type="text" name="mat" required><br>
    <button type="submit">입력</button>
</form>
{% else %}
<p class="noti">가입된 학생이 없거나, 모든 학생의 성적 정보가 입력되었습니다.</p>
{% endif %}

{% if noti %}
<p class="noti">{{noti}} <a href="{{url_for('score_list')}}">리스트 이동하기</a></p>
{% endif %}

{% endblock %}