{% extends "layout.html" %}

{% block title %}
성적 목록 조회
{% endblock %}

{% block content %}

<h2>성적 목록 조회</h2>
<table>
    <tr>
        <th>학번</th>
        <th>국어</th>
        <th>영어</th>
        <th>수학</th>
        <th>총점</th>
        <th>평균</th>
        <th>학점</th>
        <th>관리</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>
            관리
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}